<ion-view>
	<ion-nav-title align-title="left">
			<div class="page-title" align-title="left">Welcome {{hp.cUser.profile.name}}</div>
			<div class="page-sub-title">Digital Bank Singapore</div>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="hp.logout()"><img class="header-picture" ng-src="{{hp.cUser.profile.pic}}"></button>
	</ion-nav-buttons>
	<ion-content>
	  <div class="list">

			<div class="item">
				<div class="row"><h1 class="homepageH1">Fiat Currency Accounts</h1></div>
				<div ng-repeat="account in hp.bankAccounts">
					<div class="row">
						<div class="col col-80 fw300">
							{{account.name}}
						</div>
						<div class="col col-20 fw300">
							$ {{hp.numberWithCommas(account.amount)}}
						</div>
					</div>
				</div>

			</div>

			<div class="item">
				<div class="row"><h1 class="homepageH1">Digital Assets</h1></div>
				<div ng-repeat="wallet in hp.assetWallets">
					<a class="item item-text-wrap" ng-click="hp.goToPage('transferAssets')">
						<div class="row">
							<div class="col col-80 fw300">
								{{wallet.assetName}}<br/>
								({{wallet.assetAddress}})
							</div>
							<div class="col col-20 fw300">
								{{hp.numberWithCommas(wallet.amount)}}
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="item">


	    <div class="item item-divider item-text-wrap">
				<div class="row"><h1 class="homepageH1">Incoming transfer</h1></div>
				<div ng-repeat="tx in hp.transactions">
					<div class="row">
						<div class="col col-75 fw300 item-text-wrap">
							<!-- Rick B. wants to transfer 1,000 shares to you at $5 each -->
							{{hp.fromName(tx.from)}} wants to transfer {{hp.numberWithCommas(tx.amount)}} shares to you at ${{tx.price}} each
						</div>   
						<div class="col col-25 fw300">
							<!-- button class="button button-assertive button-small" ng-click="hp.goToPage('settleTransfer')" ng-if="!tx.settled">Pay ${{hp.numberWithCommas(hp.multiply(tx.amount, tx.price))}}</button-->
							<button class="button button-assertive button-small" ng-click="hp.setupSettleTransfer(tx._id)" ng-if="!tx.settled">Pay ${{hp.numberWithCommas(hp.multiply(tx.amount, tx.price))}}</button>
							<button class="button button-balanced button-small" ng-if="tx.settled">Settled</button>
						</div>
					</div>
				</div>
				

	    </div>

	  </div>

	</ion-content>





</ion-view>
