<ion-view>
	<ion-nav-title align-title="left">
			<div class="page-title" align-title="left">login</div>
			<div class="page-sub-title">Digital Bank Singapore</div>
	</ion-nav-title>
  <ion-content class="login">
    <div class="text-center instructions">
      Login with your email
    </div>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-ios-email placeholder-icon"></i>
        <input ng-model="logger.email" type="text" placeholder="Your email">
      </label>
      
      <label class="item item-input">
        <i class="icon ion-lock-combination placeholder-icon"></i>
        <input ng-model="logger.password" type="password" placeholder="Your password">
      </label>

      <div class="item">
				<button ng-click="logger.login()" ng-disabled="logger.email.length === 0 || logger.password.length === 0"  class="button button-full button-dark">
					<i class="icon ion-unlocked placeholder-icon"></i>
					 Login now
				</button>
			</div>


    </div>


  </ion-content>
</ion-view>
