<ion-view>
	<ion-nav-title align-title="left">
			<div class="page-title" align-title="left">Confirm Transfer</div>
			<div class="page-sub-title">Digital Bank Singapore</div>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-clear"><img class="header-picture" ng-src="https://scontent.xx.fbcdn.net/v/t1.0-1/p80x80/13938547_1171553186245226_3985211402204721399_n.jpg?oh=915851368d877ccf1c544b75c5f8794a&oe=58BD6E60"></button>
	</ion-nav-buttons>
	<ion-content>

	  <div class="list">

			<div class="list list-inset">
				<label class="item item-input">
					<i class="icon ion-person placeholder-icon col col-10"></i>
			    <span class="col col-80 small-text">{{ st.fromName(st.thisTransaction.from) }}</thisTransaction></span>
			  </label>
				<label class="item item-input">
					<i class="icon ion-ios-bookmarks placeholder-icon col col-10"></i>
					<span class="col col-80 small-text">{{ st.getAccount(st.thisTransaction.from) }}</span>
				</label>
			</div>

			<div class="list list-inset">
			  <label class="item item-input">
					<i class="icon ion-filing placeholder-icon col col-10"></i>
			    <span class="col col-80 small-text">5,000 Otonomos BCC Pte. Ltd. shares</span>
			  </label>
				<label class="item item-input">
					<i class="icon ion-cash placeholder-icon col col-10"></i>
			    <span class="col col-80 small-text">5,000 * $5 = $25,000</span>
			  </label>
			</div>


			<div class="item">
				<button class="button button-full button-dark">
					<i class="icon ion-paper-airplane placeholder-icon"></i>
					 Confirm transfer
				</button>
			</div>

	  </div>

	</ion-content>





</ion-view>
