<ion-view >
	<ion-nav-title align-title="left">
      <div class="page-title" align-title="left">Transfer Asset</div>
      <div class="page-sub-title">Digital Bank Singapore</div>
  </ion-nav-title>
	<ion-nav-buttons side="right">
	  <button class="button button-clear"><img class="header-picture" ng-src="https://scontent.xx.fbcdn.net/v/t1.0-1/p80x80/13938547_1171553186245226_3985211402204721399_n.jpg?oh=915851368d877ccf1c544b75c5f8794a&oe=58BD6E60"></button>
	</ion-nav-buttons>
	<ion-content>
		<form>
	  <div class="list">

			<div class="list list-inset">
			  <label class="item item-input">
					<i class="icon ion-person placeholder-icon"></i>
			    <input type="text" placeholder="Transfer to who?">
			  </label>
			</div>

			<div class="list list-inset">
			  <label class="item item-input">
					<i class="icon ion-filing placeholder-icon"></i>
			    <input type="text" placeholder="What Asset" value="OTONOMOS SHARES (OTO321)">
			  </label>
				<label class="item item-input">
					<i class="icon ion-calculator placeholder-icon"></i>
			    <input type="number" placeholder="How many?">
			  </label>
				<label class="item item-input">
					<i class="icon ion-cash placeholder-icon"></i>
			    <input type="number" placeholder="Price per asset?">
			  </label>
			</div>

			<div class="item">


				<button class="button button-full button-dark">
					<i class="icon ion-android-send placeholder-icon"></i>
				   Send now
				</button>
			</div>
	  </div>



    </form>
	</ion-content>

</ion-view>
